#map {
    width: 1085px;
    height: 1000px;
    border: 0px;
    padding: 0px 20px;
    transform: translateY(-500px);
}

#div {
    height: 1100px;
}

#ad2 {
    transform: translate(17px, 10px);
}