form {
    border: 2px solid rgb(127, 117, 177);
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 70px;
    margin-top: 20px;
}

p {
    color: rgb(127, 117, 177);
    font-size: 30pt;
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

#ID, #PW {
    margin: 5px;
    padding: 5px;
    width: 250px;
    height: 35px;
}

#submit {
    color: white;
    background-color: rgb(171, 123, 204);
    border-radius: 3px;
    border: none;
    margin-top: 20px;
    width: 250px;
    height: 35px;
}